.root {
    -fx-background-color: #f0f4f8;
    -fx-padding: 20;
}

.header {
    -fx-font-size: 24px;
    -fx-text-fill: #333;
    -fx-padding: 10 0 20 0;
    -fx-alignment: center;
}

.main-button {
    -fx-background-color: transparent;
    -fx-text-fill: rgb(255, 0, 0);
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10 20;
}

.secondary-button {
    -fx-background-color: transparent;
    -fx-border-color: #007ACC;
    -fx-border-radius: 5;
    -fx-text-fill: #007ACC;
    -fx-font-size: 16px;
}

.animated-bar {
    -fx-accent: #42A5F5;
    -fx-background-radius: 10;
    -fx-transition: all 0.5s ease-in-out;
}
