.root {
    -fx-background-color: #f0f4f8;
    -fx-padding: 20;
}

.header {
    -fx-background-color: transparent; /* Fond transparent au survol */
    -fx-text-fill: #00b7ff;            /* Texte bleu */
    -fx-font-size: 32px;               /* Double la taille de la police */
    -fx-scale-x: 1;                  /* Agrandit légèrement le bouton horizontalement */
    -fx-scale-y: 1;                  /* Agrandit légèrement le bouton verticalement */

    /* Halo lumineux */
    -fx-effect: dropshadow(gaussian, #00b7ff, 20, 0.6, 0, 0);
    -fx-alignment: center;
}

.main-button {
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-text-fill: rgb(255, 255, 255);
    -fx-border-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 10 20;
}

/*
.animated-bar {
    -fx-accent: #000000;
    -fx-background-radius: 5;
    -fx-transition: all 0.5s ease-in-out;
}

.glossy-bar {
    -fx-background-color: transparent;
    -fx-accent: linear-gradient(to right, #29b6f6, #0288d1);
    -fx-background-insets: 0, 1;
    -fx-background-radius: 8, 7;
    -fx-padding: 2;
}
*/

.button-container:hover {
    -fx-background-color: transparent; /* Fond transparent au survol */
    -fx-border-color: #00b7ff;         /* Bordure bleue brillante */
    -fx-text-fill: #00b7ff;            /* Texte bleu */
    -fx-font-size: 32px;               /* Double la taille de la police */
    -fx-scale-x: 1.1;                  /* Agrandit légèrement le bouton horizontalement */
    -fx-scale-y: 1.1;                  /* Agrandit légèrement le bouton verticalement */

    /* Halo lumineux */
    -fx-effect: dropshadow(gaussian, #00b7ff, 20, 0.6, 0, 0);
}

.button-container {
    -fx-background-color: transparent; /* Fond transparent */
    -fx-border-color: transparent;    /* Bordure invisible par défaut */
    -fx-border-width: 2px;            /* Épaisseur de la bordure */
    
    -fx-text-fill: #00b7ff;            /* Texte bleu */
    -fx-font-size: 25px;              /* Taille de la police par défaut */
    -fx-padding: 10 20;               /* Espacement interne */
    -fx-background-radius: 10;        /* Coins arrondis */
    -fx-border-radius: 10;            /* Coins arrondis pour la bordure */
    -fx-cursor: hand;                 /* Curseur en forme de main */
    -fx-effect: dropshadow(gaussian, transparent, 0, 0, 0, 0); /* Pas d'effet par défaut */
    -fx-scale-x: 1;                   /* Taille normale */
    -fx-scale-y: 1;                   /* Taille normale */

    /* Transition fluide */
    -fx-transition: -fx-border-color 1s linear, -fx-text-fill 1s linear, -fx-scale-x 1s linear, -fx-scale-y 1s linear;
}

.console-text-area {
    -fx-font-family: "Courier New";
    -fx-opacity: 0;
    -fx-font-size: 14px;
    -fx-text-fill: #000000;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-border-radius: 5;
    -fx-padding: 10;
}

.maximizer {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
}

.loader {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 6rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  border-radius: 50%;
  animation: pulsOut 1.8s ease-in-out infinite;
  filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.loader:before {
  width: 100%;
  padding-bottom: 100%;
  box-shadow: inset 0 0 0 1rem #fff;
  animation-name: pulsIn;
}
.loader:after {
  width: calc(100% - 2rem);
  padding-bottom: calc(100% - 2rem);
  box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
  0% {
    box-shadow: inset 0 0 0 1rem #fff;
    opacity: 1;
  }
  50%, 100% {
    box-shadow: inset 0 0 0 0 #fff;
    opacity: 0;
  }
}

@keyframes pulsOut {
  0%, 50% {
    box-shadow: 0 0 0 0 #fff;
    opacity: 0;
  }
  100% {
    box-shadow: 0 0 0 1rem #fff;
    opacity: 1;
  }
}
    



.closer {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-border-radius: 5;
    -fx-padding: 10 20;
}
